{% load static %}

<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="{% static 'svg/image_new.png' %}"
        alt="logo"
        class="img-fluid me-4"
        width="40"
      />

      RecycleLink</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <!-- Main links -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Request Pickup</a>
        </li>

        <!-- Profile dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}"
                >View Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li>
              <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
